<a style="cursor: pointer;" class="list-group-item clearfix" [routerLink]="id">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-2">{{particularUser.name.first}}</div>
        <div class="col-xs-2">{{particularUser.name.last}}</div>
        <div class="col-xs-3">{{particularUser.phone}}</div>
        <div class="col-xs-3">{{particularUser.email}}</div>
        <div class="col-xs-2">{{particularUser.dob.date}}</div>
      </div>
    </div>
  </div>
</a>

