<div class="container">
  <div class="row">
    <div class="col-xs-12 list-group">
      <div class="col-xs-2">First Name</div>
      <div class="col-xs-2">Last Name</div>
      <div class="col-xs-3">Phone Number</div>
      <div class="col-xs-3">Email</div>
      <div class="col-xs-2">DOB</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-particular-user [particularUser]="u" [id]="i" *ngFor="let u of users; let i=index"></app-particular-user>
    </div>
  </div>
</div>
