<p style="color: lightblue;">Personal Information</p>
<img src="{{detailedUser['0'].picture.medium}}" style="border-radius: 50%" alt="Image">
Change Profile Picture
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">Title</div>
      <div class="col-xs-5">
        <input type="text" value="{{detailedUser['0'].name.title}}" disabled style="border: 1px solid blue;border-radius: 10px;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">First Name</div>
      <div class="col-xs-5">
        <input type="text" value="{{detailedUser['0'].name.first}}" disabled style="border: 1px solid blue;border-radius: 10px;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">Last Name</div>
      <div class="col-xs-5">
        <input type="text" value="{{detailedUser['0'].name.last}}" disabled style="border: 1px solid blue;border-radius: 10px;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">Phone</div>
      <div class="col-xs-5">
        <input type="text" value="{{detailedUser['0'].phone}}" disabled style="border: 1px solid blue;border-radius: 10px;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">Mobile</div>
      <div class="col-xs-5">
        <input type="text" value="{{detailedUser['0'].cell}}" disabled style="border: 1px solid blue;border-radius: 10px;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">Street</div>
      <div class="col-xs-5">
        <input type="text" value="{{detailedUser['0'].location.street}}" disabled style="border: 1px solid blue;border-radius: 10px;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">City</div>
      <div class="col-xs-5">
        <input type="text" value="{{detailedUser['0'].location.city}}" disabled style="border: 1px solid blue;border-radius: 10px;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">State</div>
      <div class="col-xs-5">
        <input type="text" value="{{detailedUser['0'].location.state}}" disabled style="border: 1px solid blue;border-radius: 10px;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">Email</div>
      <div class="col-xs-5">
        <input type="text" value="{{detailedUser['0'].email}}" disabled style="border: 1px solid blue;border-radius: 10px;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">DOB</div>
      <div class="col-xs-5">
        <input type="text" value="{{detailedUser['0'].dob.date}}" disabled style="border: 1px solid blue;border-radius: 10px;">
      </div>
    </div>
  </div>
</div>
